<film-detail>
  <template shadowrootmode="open">
    {{{shared-styles "./film-detail.css"}}}
    
    <h2>{{film.title}}</h2>

    <h3>Produced by {{film.producer}}</h3>
    <h3>Directive by {{film.director}}</h3>

    <p>{{film.opening_crawl}}</p>
  </template>
</film-detail>